body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  box-sizing: border-box;
}

::selection {
  color: rgb(244, 251, 253);
  background: rgb(27, 27, 24);
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fcfcfc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5dac9c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #18443b;
}
